.invoice-page,
.invoice-page * {
  box-sizing: border-box;
}
.invoice-page {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.depth-0-frame-0 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.depth-1-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-2-frame-0 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 0px 0px 1px 0px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.free-vector-auto-repair-logos-3 {
  border-radius: 100px;
  flex-shrink: 0;
  width: 76px;
  height: 65px;
  position: relative;
  mix-blend-mode: difference;
  object-fit: cover;
}
.depth-4-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-0 {
  flex: 1;
  width: 16px;
  position: relative;
  overflow: hidden;
}
.vector-0 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vector-1 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-6-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-7-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
}
.depth-4-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.auto-shield {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-3-frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.depth-4-frame-02 {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.depth-5-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.orders {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.customers {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vehicles {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.parts {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.service-items {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-12 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-12 {
  background: #f5f0e5;
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.depth-7-frame-02 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.vector-02 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-2-frame-1 {
  padding: 20px 160px 20px 160px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 1727px;
  position: relative;
}
.depth-3-frame-02 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-03 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  min-width: 288px;
  position: relative;
}
.depth-6-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.order-345678 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-6-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 288px;
  position: relative;
}
.porsche-911 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-13 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.order-details {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-2 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-04 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-6-frame-04 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  padding: 16px 8px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 464px;
  position: relative;
}
.depth-7-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.status {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-7-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.in-progress {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-6-frame-12 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  padding: 16px 0px 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 464px;
  position: relative;
}
.created {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.jul-10-2022 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-13 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.updated {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.vehicle {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.porsche-9112 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-22 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.mileage {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._10000 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.vin {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.wpoaa-29999-s-123456 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-32 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.order-type {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.maintenance {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.customer {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.john-doe {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-5-frame-42 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-6-frame-05 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  padding: 16px 464px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 464px;
  position: relative;
}
.depth-4-frame-3 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.service-items2 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-4 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-05 {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #e8decf;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-06 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.depth-8-frame-02 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-9-frame-0 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 242px;
  position: relative;
}
.service-item {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-1 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 224px;
  position: relative;
}
.price {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 236px;
  position: relative;
}
.quantity {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-3 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 224px;
  position: relative;
}
.total {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-8-frame-03 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.depth-9-frame-02 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 242px;
  height: 72px;
  position: relative;
}
.oil-change {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-12 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 224px;
  height: 72px;
  position: relative;
}
._200 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-22 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 236px;
  height: 72px;
  position: relative;
}
._1 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-32 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 224px;
  height: 72px;
  position: relative;
}
.depth-8-frame-1 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.tire-rotation {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._100 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-8-frame-2 {
  border-style: solid;
  border-color: #e5e8eb;
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 72px;
  position: relative;
}
.brake-inspection {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._150 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-5 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.parts-used {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-6 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-9-frame-03 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 230px;
  position: relative;
}
.part {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-13 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 228px;
  position: relative;
}
.depth-9-frame-23 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.depth-9-frame-33 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 228px;
  position: relative;
}
.depth-9-frame-04 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 230px;
  height: 72px;
  position: relative;
}
.oil-filter {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-14 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 228px;
  height: 72px;
  position: relative;
}
._10 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-24 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  height: 72px;
  position: relative;
}
.depth-9-frame-34 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 228px;
  height: 72px;
  position: relative;
}
.tire-valve-stem {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._5 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._4 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._20 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.brake-pad {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._50 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._2 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-7 {
  padding: 16px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.service-history {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-8 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-9-frame-05 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 222px;
  position: relative;
}
.date {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-15 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 249px;
  position: relative;
}
.type {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-25 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 232px;
  position: relative;
}
.mileage2 {
  color: #1c170d;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-35 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 223px;
  position: relative;
}
.depth-9-frame-06 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 222px;
  height: 72px;
  position: relative;
}
.jun-12-2022 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-16 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 249px;
  height: 72px;
  position: relative;
}
.maintenance2 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-26 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 232px;
  height: 72px;
  position: relative;
}
._9000 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-9-frame-36 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 223px;
  height: 72px;
  position: relative;
}
._500 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.jan-12-2022 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.repair {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._8000 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._700 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.aug-12-2021 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._7000 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._400 {
  color: #a1824a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-06 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  max-width: 480px;
  position: relative;
}
.depth-6-frame-07 {
  background: #f5f0e5;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 222px;
  height: 40px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.depth-7-frame-04 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.mark-as-complete {
  color: #1c170d;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.depth-6-frame-13 {
  background: #009963;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 214px;
  height: 40px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.generate-invoice {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  
}
